{% extends 'base.html' %}

{%block body%}
<div class="container">
    <br>
<h3>{{categ}}</h3>
{%if recipe_list%}

<div class="container-fluid">
    <div class="row mx-auto">
{% for recipe in recipe_list %}
      <div class="card mx-auto mb-3 mt-3" style="max-width: 500px;">
        <div class="row g-0">
          <div class="col-md-4">
          <a href="{% url 'how-to-make-' recipe.pk %}" style="text-decoration: none;" >
            <img src="{{recipe.image.url}}" alt="...">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body px-5 mx-4">   
            <a href="{% url 'how-to-make-' recipe.id %}" style="text-decoration: none;" >
      
              <h5 class="card-title">{{recipe.name}}</h5>
              <p class="card-text" style="color: black;">{{recipe.description}}</p>
              <a href="/{{recipe.category|slugify}}"><p class="card-text"><small class="text-muted">{{recipe.category}}</small></p>  </a>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
</div>
</div>
{% else %}
SORRY! NO SUCH CATEG
{%endif%}

<!--
ye hai listttt...

{% for l in list %}
{{l}}<br>
{% endfor %}
-->
</div>
{% endblock body%}

